<template>
  <a-layout-header class="header">
    <div class="head-logo">
      <img src="@/assets/Logo-white.png" alt="Viettel" @click="gotoHome('dashboard')">
    </div>

    <div class="head-menu">
      <a-menu mode="horizontal">
        <a-sub-menu key="3">
          <span slot="title" class="submenu-title-wrapper">
            <span class="user-mr">{{ userName }}</span>
            <a-icon type="user" :style="{ fontSize: '16px'}" />
          </span>
          <a-menu-item key="profile:2">
            <a href="javascript:;" @click="handleLogout">
              <a-icon type="logout" />
              <span>Thoát</span>
            </a>
          </a-menu-item>
        </a-sub-menu>

      </a-menu>
    </div>
  </a-layout-header>
</template>

<script>
import NoticeIcon from './NoticeIcon'
import { authMethods, authComputed } from '../../../store/helpers'

export default {
  name: 'Header',
  props: {
    collapsed: Boolean
  },
  components: {
    NoticeIcon
  },
  data () {
    return {
      collapsedTmp: this.collapsed,
      userName: ''
    }
  },
  computed: {
    ...authComputed
  },
  mounted () {
    this.getUser()
  },
  methods: {
    ...authMethods,
    handleLogout () {
      this.$confirm({
        title: 'Đăng xuất khỏi hệ thống?',
        okText: this.$t('Đăng xuất'),
        cancelText: this.$t('Hủy'),
        onOk: () => {
          return this.logOut({})
            .then(() => {
              setTimeout(() => {
                window.location.reload()
              }, 16)
            })
            .catch(err => {
              this.$message.error({
                title: 'Lỗi',
                description: err.message
              })
            })
        },
        onCancel () {}
      })
    },
    getUser () {
      const user = JSON.parse(window.localStorage.getItem('auth.currentUser'))
      if (user) {
        this.userName = user.info.username
      }
    },
    changeCollapsed () {
      this.collapsedTmp = !this.collapsedTmp
      this.$emit('collapsed-changed', this.collapsedTmp)
    },
    gotoHome (nameUrl) {
      this.$router.push({ name: nameUrl })
    }
  }
}
</script>

<style lang="less">
@import url("../../../styles/index.less");

.header-animat {
  position: relative;
  z-index: @ant-global-header-zindex;
}
.showHeader-enter-active {
  transition: all 0.25s ease;
}
.showHeader-leave-active {
  transition: all 0.5s ease;
}
.showHeader-enter,
.showHeader-leave-to {
  opacity: 0;
}
.user-mr {
  margin-right: 4px;
}

</style>
