<template>
  <home-layout style="position: relavtive">
    <template v-slot:breadcrumb>
    </template>
  </home-layout>
</template>

<script>
import HomeLayout from '../layouts/HomeLayout'

export default {
  components: {
    HomeLayout
  },
  name: 'Dashboard',
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
<style lang="less">
</style>
