<template>
  <main-layout>
    <template v-slot:breadcrumb>
      <a-breadcrumb separator=">">
        <a-breadcrumb-item><a href="/">Home</a></a-breadcrumb-item>
        <a-breadcrumb-item>CUSTOMER MANAGEMENT</a-breadcrumb-item>
        <a-breadcrumb-item style="text-transform: uppercase">Account Management</a-breadcrumb-item>
        <a-breadcrumb-item style="text-transform: uppercase"><span :class="'active'">Create a new account</span></a-breadcrumb-item>
      </a-breadcrumb>
    </template>
    <form-account :data-update="{}" :is-update="false"></form-account>
  </main-layout>
</template>

<script>
import MainLayout from '@/pages/layouts/MainLayout'
import FormAccount from '@/pages/Account/_child/Form'
export default {
  name: 'CreateAccount',
  components: {
    MainLayout,
    FormAccount
  },
  methods: {
    gotoList () {
      this.$router.push({ name: 'account' })
    }
  }
}
</script>

<style scoped>

</style>
