<template>
  <a-spin :spinning="loadingSpinning">
    <a-collapse v-model="activeFormData" expandIconPosition="left" class="collapse-left">
      <a-collapse-panel header="New addition information" key="1">
        <a-card style="width: 100%;border: none" class="search-container">
          <a-form-model
            :model="data"
            :rules="rules"
            @submit="handleSubmit"
            layout="vertical"
            ref="accountForm"
          >
            <a-row :gutter="16">
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item prop="accountType" label="Account type">
                  <a-select v-model="data.accountType" show-search :filterOption="filterSelectOption">
                    <a-select-option v-for="item in types" :key="item.value" :value="item.value">{{
                      item.name
                    }}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item prop="accountNumber" label="Account number">
                  <a-input v-model="data.accountNumber" :disabled="isUpdate"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item prop="accountName" label="Account name">
                  <a-input v-model="data.accountName"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :lg="6">
                <a-form-model-item prop="accountBalance" label="Account balance">
                  <a-input v-model="data.accountBalance"></a-input>
                </a-form-model-item>
              </a-col>
              <!--              <a-col :xs="24" :md="6" :lg="6">-->
              <!--                <a-form-model-item-->
              <!--                  prop="customerPdDob"-->
              <!--                  :label="labelDate"-->
              <!--                  :rules="[-->
              <!--                    {-->
              <!--                      required: true,-->
              <!--                      message: labelDate + ' is required field'-->
              <!--                    }-->
              <!--                  ]"-->
              <!--                >-->
              <!--                  <a-select-->
              <!--                    v-model="data.customerPdDob"-->
              <!--                    show-search-->
              <!--                    :filterOption="filterSelectOption"-->
              <!--                    allowClear-->
              <!--                  >-->
              <!--                    <a-select-option v-for="year in years" :key="year.value" :value="year.value">{{-->
              <!--                      year.name-->
              <!--                    }}-->
              <!--                    </a-select-option>-->
              <!--                  </a-select>-->
              <!--                </a-form-model-item>-->
              <!--              </a-col>-->
            </a-row>
            <a-row :gutter="16">
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item
                  prop="customerGender"
                  label="Gender"
                >
                  <a-select
                    v-model="data.customerGender"
                    show-search
                    :filterOption="filterSelectOption"
                    allowClear
                  >
                    <a-select-option v-for="item in genders" :key="item.value" :value="item.value">{{
                      item.name
                    }}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item prop="customerEmail" label="Email">
                  <a-input v-model="data.customerEmail"></a-input>
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row :gutter="16">
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item
                  prop="customerProvince"
                  label="The Provincial"
                >
                  <a-select
                    @change="filterDistrict"
                    @select="removeDistrict"
                    v-model="data.customerProvince"
                    show-search
                    allowClear
                    :filterOption="filterSelectOption">
                    <a-select-option v-for="item in provinces" :key="item.state_code" :value="item.state_code">{{
                      item.state_name
                    }}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item prop="customerDistrict" label="District">
                  <a-select
                    v-model="data.customerDistrict"
                    show-search
                    allowClear
                    :filterOption="filterSelectOption">
                    <a-select-option v-for="item in districts" :key="item.state_code" :value="item.state_code">{{
                      item.state_name
                    }}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :lg="6">
                <a-form-model-item prop="customerAddress" label="Full address">
                  <a-input v-model="data.customerAddress"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :xs="24" :md="6" :lg="6">
                <a-form-model-item prop="accountStatus" label="Status">
                  <a-select
                    v-model="data.accountStatus"
                    show-search
                    :filterOption="filterSelectOption"
                    allowClear>
                    <a-select-option v-for="status in listStatus" :key="status.value" :value="Number(status.value)">{{
                      status.name
                    }}</a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
            </a-row>
            <date-of-month
              @validate="validateDate"
              ref="birthOfDate"
              v-model="data.customerPdDob"
            />
            {{ data.customerPdDob }}
          </a-form-model>
        </a-card>
      </a-collapse-panel>
    </a-collapse>
    <a-row :gutter="16" style="margin-top: 8px">
      <a-col style="justify-content: center;display: flex">
        <a-button type="primary" style="margin-right: 8px" @click="handleSubmit">
          Save
        </a-button>
        <a-button type="back" @click="gotoBack">
          Back
        </a-button>
      </a-col>
    </a-row>
  </a-spin>
</template>

<script>
import { PROVINCE, DISTRICT } from '@/constants/province'
import moment from 'moment'
import DateOfMonth from '@/components/DateOfMonth/Date'
import { ACCOUNT_STATUS, ACCOUNT_STATUS_SEX, CUSTOMER_TYPE } from '@/constants/account'
import { createAccount, updateAccount } from '@/api/account-api'
import { validateBalance } from '@/utils/helpers'

export default {
  name: 'Form',
  components: {
    DateOfMonth
  },
  props: {
    dataUpdate: {
      type: Object,
      required: true
    },
    isUpdate: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      data: {
        accountNumber: '',
        accountType: '',
        accountName: '',
        customerPdDob: '',
        accountBalance: '',
        customerProvince: '',
        customerDistrict: '',
        customerEmail: '',
        customerGender: '',
        accountStatus: '',
        customerAddress: ''
      },
      activeFormData: 1,
      dataOfMonth: '',
      provinces: PROVINCE,
      districts: [],
      DISTRICT,
      types: CUSTOMER_TYPE,
      labelDate: 'date of birth',
      listStatus: ACCOUNT_STATUS,
      genders: ACCOUNT_STATUS_SEX,
      loadingSpinning: true,
      validatorDate: true,
      rules: {
        accountType: [
          {
            required: true,
            message: 'Account Type is required field'
          }
        ],
        accountName: [
          {
            required: true,
            message: 'Account Name is required field'
          },
          {
            max: 100,
            message: 'Account Name must not exceed 100 characters'
          }
        ],
        accountNumber: [
          {
            required: true,
            message: 'Account No is required field'
          },
          {
            max: 100,
            message: 'Account Number must not exceed 100 characters'
          }
        ],
        customerGender: [
          {
            required: true,
            message: 'Gender is required field'
          }
        ],
        accountStatus: [
          {
            required: true,
            message: 'Status is required field'
          }
        ],
        customerProvince: [
          {
            required: true,
            message: 'The Provincial is required field'
          }
        ],
        customerDistrict: [
          {
            required: true,
            message: 'District is required field'
          }
        ],
        accountBalance: [
          {
            required: true,
            message: 'Account balance is required field'
          },
          {
            validator: this.validateBalance
          }
        ],
        customerAddress: [
          {
            required: true,
            message: 'Full Address is required field'
          }
        ],
        customerEmail: [
          {
            required: true,
            message: 'Email is required field'
          },
          {
            max: 100,
            message: 'Email must not exceed 100 characters'
          }
        ],
        year: '1927',
        month: '01',
        day: '01',
        dataOfDate: ''

      }
    }
  },
  computed: {
    years () {
      const momentYear = moment().year()
      const timeAllowed = momentYear - 100
      if (momentYear) {
        const year = []
        for (let i = timeAllowed; i <= momentYear; i++) {
          year.push({
            value: i,
            name: 'Năm ' + i
          })
        }
        return year
      }
      return []
    }
  },
  watch: {
  },
  mounted () {
    setTimeout(() => {
      this.loadingSpinning = false
      if (this.isUpdate) {
        this.data = this.dataUpdate
        this.data.accountType = String(this.data.accountType)
      }
      if (this.dataUpdate.customerProvince) {
        this.filterDistrict(this.dataUpdate.customerProvince)
      }
    }, 250)
  },
  methods: {
    validateBalance,
    getYear (val) {
      this.year = val
      this.data.customerPdDob = this.year + '-' + this.month + '-' + this.day
    },
    getMonth (val) {
      this.month = val
      this.data.customerPdDob = this.year + '-' + this.month + '-' + this.day
    },
    getDay (val) {
      this.day = val
      this.data.customerPdDob = this.year + '-' + this.month + '-' + this.day
    },
    filterDistrict (val) {
      this.districts = DISTRICT.filter(item => item.state_code_father === val)
    },
    removeDistrict () {
      this.data.customerDistrict = ''
    },
    validateDate (val) {
      this.validatorDate = val
    },
    handleSubmit () {
      const that = this
      this.$refs['birthOfDate'].submitChild()
      this.$refs['accountForm'].validate(valid => {
        if (valid && that.validatorDate) {
          that.$confirm({
            title: 'Do you want to' + (that.data.accountNumber ? ' update your account' : ' add a new account'),
            onOk () {
              that.saveRow(that.data)
            }
          })
        }
      })
    },
    gotoBack () {
      this.$router.push({ name: 'account' })
    },
    saveRow (record) {
      const that = this
      const params = {
        'accountBalance': Number(record.accountBalance),
        'accountName': record.accountName,
        'accountNumber': record.accountNumber,
        'accountStatus': Number(record.accountStatus),
        'accountType': Number(record.accountType),
        'customerAddress': record.customerAddress,
        'customerDistrict': record.customerDistrict,
        'customerEmail': record.customerEmail,
        'customerGender': record.customerGender,
        'customerPdDob': String(record.customerPdDob),
        'customerProvince': record.customerProvince
      }
      this.loading = true
      const newParams = {
        account: params
      }
      if (this.isUpdate) {
        updateAccount(newParams)
          .then(rs => {
            that.$message.success('updated customers successfully')
            that.gotoBack()
          })
          .catch(err => {
            if (err === 'Token has expired') {
              this.$error({ title: err,
                onOk () {
                  that.logOut()
                } })
            } else {
              const msg = this.handleApiError(err)
              that.$error({ content: msg })
            }
          }).finally(res => {
            that.loading = false
          })
      } else {
        createAccount(newParams)
          .then(rs => {
            that.$message.success('adding customers successfully')
            that.gotoBack()
          })
          .catch(err => {
            if (err === 'Token has expired') {
              this.$error({ title: err,
                onOk () {
                  that.logOut()
                } })
            } else {
              const msg = this.handleApiError(err)
              that.$error({ content: msg })
            }
          }).finally(res => {
            that.loading = false
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
