<template>
  <main-layout>
    <template v-slot:breadcrumb>
      <a-breadcrumb separator=">">
        <a-breadcrumb-item><a href="/">Home</a></a-breadcrumb-item>
        <a-breadcrumb-item>CUSTOMER MANAGEMENT</a-breadcrumb-item>
        <a-breadcrumb-item style="text-transform: uppercase">Account Management</a-breadcrumb-item>
        <a-breadcrumb-item style="text-transform: uppercase"><span :class="'active'">Account update</span></a-breadcrumb-item>
      </a-breadcrumb>
    </template>
    <form-account v-if="data && data.accountNumber" :data-update="data" :is-update="true"/>
  </main-layout>
</template>

<script>
import MainLayout from '@/pages/layouts/MainLayout'
import FormAccount from '@/pages/Account/_child/Form'
import { getAccount } from '@/api/account-api'
export default {
  name: 'UpdateAccount',
  components: {
    MainLayout,
    FormAccount
  },
  data () {
    return {
      data: {}
    }
  },
  created () {
    this.getDetail()
  },
  mounted () {
  },
  methods: {
    gotoList () {
      this.$router.push({ name: 'account' })
    },

    getDetail () {
      const params = {
        account_number: this.$route.params.id
      }
      getAccount(params).then(res => {
        this.data = res.data
      }).catch(err => {
        const msg = this.handleApiError(err)
        this.$error({ title: msg })
      }).finally(() => {
      })
    }
  }
}
</script>

<style scoped>

</style>
