<template>
  <blank-layout>
    <a-row class="login-page" style="display: flex">
      <a-col :span="12">
        <div class="main left-container">
          <h1 class="l-c-title">LOGIN</h1>
          <a-form
            id="formLogin"
            class="user-layout-login"
            ref="formLogin"
            :hideRequiredMark="true"
            :form="form"
            @submit="handleSubmit"
            layout="vertical"
          >

            <a-alert
              v-if="isLoginError"
              type="error"
              showIcon
              style="margin-bottom: 24px;"
              :message="loginErrorMsg"/>
            <a-form-item label="Username" style="margin-bottom: 2px">
              <a-input
                size="large"
                type="text"

                v-decorator="[
                  'username',
                  {rules: [
                    { required: true, message: 'username is required' },
                    {
                      min: 5,
                      message: 'username has at least 5 characters'
                    },
                    {
                      max: 25,
                      message: 'username must not exceed 25 characters'
                    }
                  ] }
                ]"
              >
                <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
              </a-input>
            </a-form-item>

            <a-form-item label="Password" style="margin-bottom: 2px">
              <a-input
                size="large"
                type="password"

                autocomplete="false"
                v-decorator="[
                  'password',
                  {rules: [{ required: true, message: 'password is required' },
                           {
                             min: 5,
                             message: 'password has at least 5 characters'
                           },
                           {
                             max: 30,
                             message: 'password must not exceed 30 characters'
                           }
                  ], validateTrigger: 'change'}
                ]"
              >
                <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
              </a-input>
            </a-form-item>

            <a-form-item style="margin-top:4px">
              <a-button
                size="large"
                htmlType="submit"
                class="login-button btn-login"
                :loading="state.loginBtn"
                :disabled="state.loginBtn"
              >LOGIN
              </a-button>
            </a-form-item>

          </a-form>

        </div>
      </a-col>
      <a-col :span="12">
        <img src="~@/assets/viettel.png" class="w-100" alt="">
      </a-col>
    </a-row>

  </blank-layout>
</template>

<script>
import { authMethods } from '@/store/helpers'
import BlankLayout from './layouts/BlankLayout'
import LogoSvg from '@/assets/login_logo.svg?inline'

export default {
  components: {
    BlankLayout,
    LogoSvg
  },
  data () {
    return {
      customActiveKey: 'tab1',
      loginBtn: false,
      loginType: 0,
      isLoginError: false,
      loginErrorMsg: '',
      requiredTwoStepCaptcha: false,
      stepCaptchaVisible: false,
      form: this.$form.createForm(this),
      state: {
        time: 60,
        loginBtn: false,
        loginType: 0,
        smsSendBtn: false
      }
    }
  },
  mounted () {
  },
  methods: {
    ...authMethods,
    // handler
    handleSubmit (e) {
      e.preventDefault()
      const {
        form: { validateFields },
        state,
        logIn
      } = this

      state.loginBtn = true

      const validateFieldsKey = ['username', 'password']

      validateFields(validateFieldsKey, { force: true }, (err, values) => {
        if (!err) {
          logIn(values)
            .then((res) => this.loginSuccess(res))
            .catch(err => this.requestFailed(err))
            .finally(() => {
              state.loginBtn = false
            })
        } else {
          setTimeout(() => {
            state.loginBtn = false
          }, 200)
        }
      })
    },
    loginSuccess (res) {
      this.$router.push({ path: this.$route.query.directFrom || '/' })
    },
    requestFailed (err) {
      this.isLoginError = true
      this.loginErrorMsg = ((err.response || {}).data || {}).message || 'Error Description'
    }
  }
}
</script>

<style lang="less" scoped>
  .login-page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  .user-layout-login {
      width: 370px;
      label {
          font-size: 14px;
      }

      .getCaptcha {
          display: block;
          width: 100%;

      }

      .forge-password {
          font-size: 14px;
      }

      button.login-button {
          padding: 0 15px;
          font-size: 14px;

          width: 100%;
      }

      .user-login-other {
          text-align: left;
          margin-top: 24px;
          line-height: 22px;

          .item-icon {
              font-size: 24px;
              color: rgba(0, 0, 0, 0.2);
              margin-left: 16px;
              vertical-align: middle;
              cursor: pointer;
              transition: color 0.3s;

              &:hover {
                  color: #1890ff;
              }
          }

          .register {
              float: right;
          }
      }
  }
  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #E5E5E5;
    .l-c-title {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height */

      text-align: center;

      color: #212121;

    }
  }
  .w-100 {
    width: 100%;
    height: 100%;
  }
  .right-container {
    min-height: 100vh;
    background: linear-gradient(109.49deg, #17B57A -1.02%, #0781B7 133.33%);
    .top-container {
      background:   url(~@/assets/login_top_bg.svg) no-repeat;
      background-size: cover;
      height: 35vh
    }
    .middle-container {
      width: 100%;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .m-c-title {
        margin-top: 33px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
        /* identical to box height, or 73% */

        text-align: center;

        color: #FFFFFF;
      }

    }
    .bottom-container {
      background:   url(~@/assets/login_bottom_bg.svg) no-repeat;
      background-size: cover;
      height: 65vh
    }
  }
</style>
