<template>
  <a-row :gutter="16">
    <template>
      <a-form-model ref="birthOfDate" :model="birthOfDate" @submit="submitChild">
        <a-col :xs="24" :lg="6">
          <a-form-model-item
            prop="year"
            label="Year"
            :rules="[
              {
                required: true,
                message: 'year is a required field'
              }
            ]">
            <a-select
              v-model="birthOfDate.year"
              @change="onChangeDate"
              show-search
              allowClear
              :filterOption="filterSelectOption"
            >
              <a-select-option v-for="year in years" :key="year.value" :value="year.value">
                {{ year.name }}
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </a-col>
        <a-col :xs="24" :lg="6">
          <a-form-model-item
            prop="month"
            label="Month"
            :rules="[
              {
                required: true,
                message: 'month is a required field'
              }
            ]">
            <a-select
              v-model="birthOfDate.month"
              show-search
              allowClear
              @change="onChangeDate"
              :filterOption="filterSelectOption"
            >
              <a-select-option v-for="month in months" :key="month.value" :value="month.value">
                {{ month.name }}
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </a-col>
        <a-col :xs="24" :lg="6">
          <a-form-model-item
            prop="day"
            label="Day"
            :rules="[
              {
                required: true,
                message: 'day is a required field'
              }
            ]">
            <a-select
              v-model="birthOfDate.day"
              show-search
              allowClear
              @change="onChangeDate"
              :filterOption="filterSelectOption">
              <a-select-option v-for="day in days" :key="day.value" :value="day.value">
                {{ day.name }}
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </a-col>
      </a-form-model>
    </template>
  </a-row>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Date',
  data () {
    return {
      birthOfDate: {
        year: '',
        month: '',
        day: ''
      },
      erros: [],
      year: ''
    }
  },
  props: {
    value: {
      type: String,
      default: () => {
        return ''
      }
    }
  },
  watch: {
    value (v) {
      if (v) {
        this.birthOfDate.year = v.substring(0, 4)
        this.birthOfDate.month = v.substring(5, 7)
        this.birthOfDate.day = v.substring(8, 10)
      }
    }
  },
  mounted () {
  },
  computed: {
    years () {
      const momentYear = moment().year()
      const timeAllowed = momentYear - 100
      if (momentYear) {
        const year = []
        for (let i = timeAllowed; i <= momentYear; i++) {
          year.push({
            value: String(i),
            name: 'Year ' + i
          })
        }
        return year
      }
      return []
    },
    months () {
      const months = []
      for (let i = 1; i <= 12; i++) {
        months.push({
          value: i < 10 ? '0' + String(i) : String(i),
          name: 'Month ' + i
        })
      }
      if (months.length > 0 && months.length <= 12) {
        return months
      }
      return []
    },
    days () {
      const days = []
      const has31days = ['01', '03', '05', '07', '08', '10', '12']
      const has30days = ['04', '06', '09', '11']
      const has2829days = ['02']
      let theNumberLoop = 30
      if (has31days.some(item => item === String(this.birthOfDate.month))) {
        theNumberLoop = 31
      }
      if (has30days.some(item => item === String(this.birthOfDate.month))) {
        theNumberLoop = 30
      }
      if (has2829days.some(item => item === String(this.birthOfDate.month))) {
        if (Number(this.birthOfDate.year) % 4 === 0 && Number(this.birthOfDate.year) % 100 === 0) {
          theNumberLoop = 29
        } else if (Number(this.birthOfDate.year) % 400 === 0) {
          theNumberLoop = 29
        } else {
          theNumberLoop = 28
        }
      }
      for (let i = 1; i <= theNumberLoop; i++) {
        days.push({
          value: i < 10 ? '0' + String(i) : String(i),
          name: 'Day ' + i
        })
      }
      return days
    }
  },
  methods: {
    onChangeDate () {
      const d = this.birthOfDate.year + '-' + this.birthOfDate.month + '-' + this.birthOfDate.day
      this.$emit('input', d)
    },
    submitChild () {
      this.$refs['birthOfDate'].validate(valid => {
        if (valid) {
          this.$emit('validate', true)
        } else {
          this.$emit('validate', false)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
