<template>
  <a-spin :spinning="loadingSpin" tip="Loading...">
    <a-collapse v-model="activeSearchKey" expandIconPosition="left" class="collapse-left">
      <a-collapse-panel header="Search" key="1">
        <a-card style="width: 100%;border: none" class="search-container">
          <a-row :gutter="16">
            <a-col :xs="24" :md="6" :lg="6" class="filter-item-container">
              <span class="i-title">
                Customer type
              </span>
              <a-select
                v-model="filters.accountType"
                show-search
                allowClear
                :filterOption="filterSelectOption"
              >
                <a-select-option :value="''"> -- All --</a-select-option>
                <a-select-option v-for="item in types" :key="item.value" :value="item.value">{{
                  item.name
                }}
                </a-select-option>
              </a-select>
            </a-col>
            <a-col :xs="24" :md="6" :lg="6" class="filter-item-container">
              <span class="i-title">Customer No</span>
              <a-input v-model="filters.accountNumber"/>
            </a-col>
            <a-col :xs="24" :md="6" :lg="6" class="filter-item-container">
              <span class="i-title">Customer Name</span>
              <a-input v-model="filters.accountName"/>
            </a-col>
            <a-col :xs="24" :md="6" :lg="6" class="filter-item-container">
              <span class="i-title">
                Gender
              </span>
              <a-select
                v-model="filters.customerGender"
                show-search
                allowClear
                :filterOption="filterSelectOption"
              >
                <a-select-option :value="''"> -- All --</a-select-option>
                <a-select-option v-for="item in genders" :key="item.value" :value="item.value">{{
                  item.name
                }}
                </a-select-option>
              </a-select>
            </a-col>
            <a-col :xs="24" :md="6" :lg="6" class="filter-item-container">
              <span class="i-title">
                Customer Age
              </span>
              <a-range-picker
                :format="dateSubmitFormat"
                v-model="rangeDate"
              />
              <br />
            </a-col>
            <a-col :xs="24" :md="6" :lg="6" class="filter-item-container">
              <span class="i-title">
                Account Status
              </span>
              <a-select
                v-model="filters.accountStatus"
                show-search
                allowClear
                :filterOption="filterSelectOption"
              >
                <a-select-option v-for="item in listStatusWithSearch" :key="item.value" :value="item.value">{{
                  item.name
                }}
                </a-select-option>
              </a-select>
            </a-col>
            <a-col
              :xs="24"
              :md="10"
              :lg="10"
              class="filter-item-container"
              style="display: flex;flex-wrap: wrap; margin-top: 17px">
              <a-button type="primary" class="btn-success uppercase" @click="search">Search
              </a-button>
              <a-button class="btn-reset uppercase" style="margin-left: 1rem" @click="resetFilter">Reset</a-button>
            </a-col>
          </a-row>

        </a-card>
      </a-collapse-panel>
    </a-collapse>
    <a-collapse v-model="activeResultKey" expandIconPosition="left" style=" margin-top: 8px" class="collapse-left">
      <a-collapse-panel header="Search Results" key="1">
        <a-card style="width: 100%; border: none" class="vts-table-container">
          <a-row>
            <a-col :span="12">
            </a-col>
            <a-col :span="12" class="btn-container">
              <a-button class="ant-btn ant-btn-primary" @click="addRow" v-if="roles ==='admin'">
                <a-icon type="plus-circle"/>
                Create
              </a-button>
            </a-col>
          </a-row>
          <a-row :gutter="16" type="flex">
            <a-col :span="24">
              <a-form-model ref="accountForm" :model="accountForm">
                <a-table
                  :columns="columns"
                  :data-source="data"
                  :rowKey="rowKey"
                  :pagination="pagination"
                  :loading="loading"
                  :scroll="{ x: 'max-content' }"
                  :locale="{ emptyText: 'Chưa có dữ liệu' }"
                  @change="handleTableChange"
                  class="ant-table-bordered">
                  <template slot="actionTitle">
                    <a-icon type="control" :style="{fontSize: '14px'}"/>
                  </template>
                  <template slot="customerGender" slot-scope="text, record">
                    {{ getNameByValue(genders, record.customerGender) }}
                  </template>
                  <template slot="accountType" slot-scope="text, record">
                    {{ getNameByValue(types, String(record.accountType)) }}
                  </template>
                  <template slot="accountStatus" slot-scope="text, record">
                    {{ getNameByValue(listStatus, record.accountStatus) }}
                  </template>
                  <template slot="operation" slot-scope="text, record">
                    <div>
                      <span @click="showEditRow(record.accountNumber)" style="padding-right:12px;cursor: pointer" v-if="roles ==='admin'">
                        <a-icon
                          type="form"
                          :style="{color: '#1f213d',fontSize: '14px'}"
                        />
                      </span>
                      <span @click="onChangeRow(record.accountNumber )" style="cursor: pointer" v-if="roles ==='admin'">
                        <a-icon
                          type="delete"
                          :style="{color: '#FF0000', fontSize: '14px'}"
                        />
                      </span>
                    </div>
                  </template>
                </a-table>
              </a-form-model>
            </a-col>
          </a-row>
        </a-card>
      </a-collapse-panel>
    </a-collapse>
  </a-spin>
</template>

<script>
import MainLayout from '../layouts/MainLayout'
import _merge from 'lodash/merge'
import TableEmptyText from '@/utils/table-empty-text'
import { columns } from './columns'
import { deleteAccount, searchAccount } from '@/api/account-api'
import moment from 'moment'
import { ACCOUNT_STATUS_SEX, CUSTOMER_TYPE, ACCOUNT_STATUS_ALL, ACCOUNT_STATUS } from '@/constants/account'

export default {
  components: {
    MainLayout

  },
  mixins: [TableEmptyText],
  name: 'Account',
  data () {
    return {
      activeSearchKey: 1,
      activeResultKey: 1,
      data: [],
      listStatusWithSearch: ACCOUNT_STATUS_ALL,
      listStatus: ACCOUNT_STATUS,
      genders: ACCOUNT_STATUS_SEX,
      types: CUSTOMER_TYPE,
      fromDate: '',
      toDate: '',
      loadingSpin: true,
      pagination: {
        current: 1,
        total: 0,
        pageSize: 15,
        showSizeChanger: true,
        showQuickJumper: false,
        pageSizeOptions: ['15', '25', '50'],
        showTotal: (total) => {
          return `Tổng số dòng ${total}`
        }
      },
      loading: false,
      columns: columns,
      moment,
      rangeDate: [],
      filters: {
        accountNumber: '',
        customerGender: '',
        accountType: '',
        accountName: '',
        accountStatus: ''
      }
    }
  },
  computed: {
    accountForm () {
      return {
        items: this.data
      }
    },
    years () {
      const momentYear = moment().year()
      const timeAllowed = momentYear - 100
      if (momentYear) {
        const year = []
        for (let i = timeAllowed; i <= momentYear; i++) {
          year.push({
            value: i,
            name: 'Năm ' + i
          })
        }
        return year
      }
      return []
    },
    oldFilter () {
      const params = window.localStorage.getItem('filter.account')
      if (params) {
        return JSON.parse(params)
      }
      return null
    },
    roles () {
      const user = JSON.parse(window.localStorage.getItem('auth.currentUser'))
      if (user) {
        return user.info.roles[0].role_name
      }
      return 'user'
    }
  },
  created () {
  },
  mounted () {
    setTimeout(() => {
      this.loadingSpin = false
    }, 350)
    if (this.oldFilter) {
      this.filters = this.oldFilter
      if (!this.filters.customerGender) {
        this.filters.customerGender = ''
      }
      if (!this.filters.accountType) {
        this.filters.accountType = ''
      }
      this.pagination.pageSize = this.oldFilter.pageSize
      this.pagination.current = this.oldFilter.page
      this.getData()
    }
  },
  methods: {
    search () {
      this.pagination.current = 1
      this.getData()
    },
    handleTableChange (pagination, filters, sorter) {
      this.pagination = pagination
      this.getData()
    },
    async getData () {
      const that = this
      this.data = []
      this.loading = true
      const params = await this.sendParams(this.filters)
      searchAccount(params).then(res => {
        this.data = res.data
        window.localStorage.setItem('filter.account', JSON.stringify(params))
        this.pagination = _merge(this.pagination, this.handlePaginationData(res))
      }).catch(err => {
        const msg = that.handleApiError(err)
        that.$error({ content: msg })
      }).finally(res => {
        this.loading = false
      })
    },
    sendParams (values) {
      return {
        accountNumber: values.accountNumber || null,
        customerGender: values.customerGender || null,
        accountType: values.accountType || null,
        accountName: values.accountName || null,
        accountStatus: values.accountStatus || null,
        page: this.pagination.current > 0 ? this.pagination.current : 1,
        pageSize: this.pagination.pageSize,
        fromDate: this.rangeDate[0] ? this.rangeDate[0].format('YYYY-MM-DD') : null,
        toDate: this.rangeDate[1] ? this.rangeDate[1].format('YYYY-MM-DD') : null
      }
    },
    rowKey (record, index) {
      record.rowKey = index
      return record.rowKey
    },
    resetFilter () {
      this.filters = {
        accountNumber: '',
        customerGender: '',
        accountType: '',
        accountName: ''
      }
      this.rangeDate = []
    },
    addRow () {
      this.$router.push({ name: 'account.create' })
    },
    onChangeRow (accountNumber) {
      const that = this
      this.$confirm({
        title: 'Do you want to delete the customer?',
        okText: 'Yes',
        okType: 'danger',
        cancelText: 'No',
        onOk: () => {
          that.changeStatus(accountNumber)
        },
        onCancel () {
        }
      })
    },
    changeStatus (accountNumber) {
      const that = this
      this.loading = true
      const params = { id: accountNumber }
      deleteAccount(params).then(res => {
        that.loading = false
        that.getData()
      }).catch(err => {
        if (err === 'Token has expired') {
          this.$error({ title: err,
            onOk () {
              that.logOut()
            } })
        } else {
          const msg = this.handleApiError(err)
          that.$error({ content: msg })
        }
      }).finally(res => {
        that.loading = false
      })
    },
    showEditRow (accountNumber) {
      this.$router.push({ name: 'account.update', params: { id: accountNumber } })
    },
    disabledDate (current) {
      return current && current > moment().endOf('day')
    },

    // check data khi chưa có api
    genData () {
      const data = []
      const address = ['',
        'Hà Nội, Việt Name', 'Tp HCM, Việt Name'
      ]
      for (let i = 0; i < 10000; i++) {
        data.push({
          accountNumber: Math.floor(Math.random() * 50 * i) + 100500, // Số tài khoản
          accountType: Math.floor(Math.random() * 2) + 1, // Loại tài khoản
          accountName: Math.random().toString(36).substring(2), // Tên tài khoản
          customerEstablished: Math.random().toString(36).substring(2), // Ngày thành lập
          accountBalance: Math.floor(Math.random()) * 150000, // Số dư tài khoản
          customerProvince: Math.random().toString(36).substring(2), // Tỉnh
          customerDistrict: Math.random().toString(36).substring(2), // Huyện
          customerEmail: String(Math.random().toString(36).substring(2)) + '@gmail.com', // Email
          customerGender: Math.floor(Math.random() * 2) + 1, // Giới tính
          accountStatus: Math.floor(Math.random() * 2) + 1, // Trạng thái tài khoản
          customerAddress: address[Math.floor(Math.random() * 2) + 1]
        })
      }
      this.data = data
    }
  }
}
</script>
<style lang="less">
</style>
