<template>
  <main-layout>
    <template v-slot:breadcrumb>
      <div class="ant-breadcrumb-custom">
        <a-breadcrumb separator=">">
          <a-breadcrumb-item><a href="/">Home</a></a-breadcrumb-item>
          <a-breadcrumb-item>CUSTOMER MANAGEMENT</a-breadcrumb-item>
          <a-breadcrumb-item :class="'active'">Account Management</a-breadcrumb-item>
        </a-breadcrumb>
      </div>
    </template>
    <edit-on-page></edit-on-page>
  </main-layout>
</template>

<script>
import MainLayout from '@/pages/layouts/MainLayout'
import EditOnPage from '@/pages/Account/EditOnPage'
import { TYPE_COMPONENT } from '@/constants/account'
export default {
  name: 'Index',
  components: {
    MainLayout,
    EditOnPage
  },
  data () {
    return {
      components: TYPE_COMPONENT
    }
  },
  mounted () {
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang="less">
  .fs-large {
    font-size: 18px;
    color: #1f213d;
  }
</style>
