<template>
  <a-config-provider :locale="locale">
    <div id="app">
      <router-view/>
    </div>
  </a-config-provider>
</template>

<script>
import viVN from 'ant-design-vue/lib/locale-provider/vi_VN'
import axios from 'axios'
export default {
  data () {
    return {
      locale: viVN,
      URL: ''
    }
  },
  created () {
    axios.get('/static/config.json').then(response => {
      this.URL = response.data.URL
    })
  },
  mounted () {
  }
}
</script>
<style>
  #app {
    height: 100%;
    /* max-width: 1440px;
    margin: auto; */
  }
</style>
